<!DOCTYPE html>

<html>
<head>
<title>Coconut Store | Sản phẩm</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="javascripts/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<script language="javascript" type="text/javascript">
 function Timkiemsp()
 {
	 var dd="http://localhost:8000/?sanpham=1&tensp="+ document.getElementById("sp").value 
	window.open(dd);
 }
</script>
</head>
<body id="top" >
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> coconutstore@gmail.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="http://localhost:8000/?dangnhap=1"><%= headline %></a></li>
        <li><a href="#">Trợ giúp?</a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<div class="wrapper row1" >
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="http://localhost:8000/?index=1">Coconut Store</a></h1>
      <p>Sản phẩm nguyên chất từ dừa</p>
    </div>
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <form action="http://localhost:8000/?sanpham=1" method="GET">
        <table><tr><td>
        <li><div class="form-sub-w3ls">
            <input placeholder="Bạn cần tìm ?"  type="text" id="sp" required="">
          </div></li></td>
          <td>
        <li><div class="submit-w3l">
						<input type="submit" value="Tìm" onclick="Timkiemsp();">
          </div></li>
        </td>
        </tr>
        </table>
        </form>
        <li><a href="http://localhost:8000/?thanhtoan=1"><em class="fa fa-lg fa-shopping-cart"></em></a></li>
        <li><a href="http://localhost:8000/?index=1">Trang chủ</a></li>
		  <li class="active"><a href="http://localhost:8000/?sanpham=1">Sản phẩm</a></li>
        <li><a href="http://localhost:8000/?baiviet=1">Cẩm nang</a></li>
        <li><a href="http://localhost:8000/?lienhe">Liên hệ</a></li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('public\images\backgrounds\Backgroundsp.jpg');">
  <div id="breadcrumb" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="#">Trang chủ</a></li>
      <li><a href="#">Cẩm nang</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row3"  style="background-image:url('images/Background.jpg');">
  <main class="hoc container clear" > 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
		<h1 style="font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'"><b> Đặc sản miền Tây " Đuông dừa nước mắm".</b></h1>
      <img class="imgr borderedbox inspace-5" src="images/Duongdua1.jpg" alt="">
     <p><a href="#"><b>Vùng đất của dừa.</b></a><br>

		Chắc hẳn ai đi về miền đất của dừa cũng một lần nghe tới cái tên "<a href="#">đuông dừa nước mắm</a>". Ôi nghe thôi cũng đã thèm, thèm cái cảm giác con đuông dừa nó lúc nhúc trong dĩa mắm lắm. Món ấy chỉ có người nào sành ăn thì mới dám thôi vì đuông dừa còn sống bò lúc nhúc nhìn thôi đã sợ nhưng nó lại là đặc sản của người miền Tây chúng tôi đấy.</p>
		<p><a href="#"><b>Đuông dừa và vị mắm.</b></a><br>

		Bắt đuông dừa khá khó, ta phải chặt luôn cả cây dừa thì mới bắt được mấy con thôi. Đuông dừa khi được bắt về ta đem rửa sạch với nước muối, sau đó  để ráo. Mấy con đuông cứ lúc nhúc con nào con đó béo múp, vàng ươm. Nhớ lần đầu tôi ăn món "<a href="#">đuông dừa nước mắm</a>" mà sợ hãi, mấy con đuông cứ ngọ nguậy trong dĩa nước mắm mà cứ rùng mình, nhưng khi ăn rồi lại nghiền. Bỏ vô miệng cắn một miếng, sữa đuông như tan chảy trong miệng hòa quyện cùng vị cay cùng mặn của nước mắm thật khó tả. </p>
      <img class="imgl borderedbox inspace-5" src="images/duong dua tam mam.jpg" alt="">
      <p><a href="http://www.os-templates.com/" title="Free Website Templates"><b>Đuông dừa và chuyện người nông dân.</b></a><br>
		  Ngoài  món "<a href="#">đuông dừa nước mắm</a>" thì đuông dừa khi chiên lên thì cũng ngon hết sảy. Con đuông dừa béo múp đem lên chảo rang đều tay cho đến khi vàng đều. Ngày mưa một dĩa đuông dừa chiên mắm, chén  mắm dằm ớt, vài ly rượu cùng anh em bạn bè trong xóm thì hết sảy. vừa nhắm mồi vừa ngắm mưa tám nhảm về những câu chuyện ngày xưa ấy, quên đi cái mệt nhọc của người nhà nông. Bình dị mà đầm ấm lắm.</p><br><br>
	  </div>
      <div id="comments">
        <h2>Bình luận</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="/public/images/avatar.png" alt=""></figure>
                <address>
                By<a href="#"> Hồng Nhung</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2019 08:15:00</time>
              </header>
              <div class="comcont">
                <p>Bài viết của bạn rất hay. Đuông dừa thực sự là một món ăn ngon. </p>
              </div>
            </article>
          </li>
        </ul>
        <h2 style="font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif'">Viết bình luận</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Tên <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Email <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Bình luận của bạn</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="Gửi" value="Gửi">
            &nbsp;
            <input type="reset" name="Hủy" value="Hủy">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <h3 class="heading">Coconut Store</h3>
    <ul class="nospace inline pushright uppercase">
      <li><a href="http://localhost:8000/?index=1"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="http://localhost:8000/?index=1">Về chúng tôi</a></li>
      <li><a href="http://localhost:8000/?lienhe=1">Liên hệ</a></li>
      <li><a href="http://localhost:8000/?dangnhap=1">Đăng nhập</a></li>
    </ul>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="https://www.facebook.com/sanphamtuduaantoan/"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
    </ul>
    <div id="copyright">
      <p>Copyright &copy; 2019 - All Rights Reserved - <a href="http://localhost:8000/?index=1">Coconut Store</a></p>
      <p class="font-xs">Template by <a target="_blank" href="#">NHY</a></p>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="javascripts/scripts/jquery.min.js"></script>
<script src="javascripts/scripts/jquery.backtotop.js"></script>
<script src="javascripts/scripts/jquery.mobilemenu.js"></script>
</body>
</html>