
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title>Đăng ký</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->
<link href="javascripts/styles/Login/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- Style --> <link rel="stylesheet" href="javascripts/styles/Login/style.css" type="text/css" media="all">
</head>

<body style="background-image:url('images/Background.jpg');">  
<div class="w3layoutscontaineragileits">
		<div class="contact-form1">
			<div class="contact-w3-agileits">
				<h3>ĐĂNG KÝ</h3>
				<form action="http://localhost:8000/dangkythanhcong" method="post">
						<div class="form-sub-w3ls">
							<input placeholder="Họ và Tên" name="ten_kh" type="text" id="ten_kh" required="">
							<div class="icon-agile">
								<i class="fa fa-user" aria-hidden="true"></i>
							</div>
						</div>
						<div class="form-sub-w3ls">
							<input placeholder="Email" class="mail" name="email_kh" type="email" id="email_kh" required="">
							<div class="icon-agile">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
							</div>
						</div>
						<div class="form-sub-w3ls">
							<input placeholder="Số điện thoại"  name="sdt_kh" type="text" id="sdt_kh" pattern="[0-9]{10}" required="">
							<div class="icon-agile">
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
							</div>
						</div>
						<div class="form-sub-w3ls">
							<input placeholder="Mật khẩu" name="mk_kh" type="password" id="mk_kh" required="">
							<div class="icon-agile">
								<i class="fa fa-unlock-alt" aria-hidden="true"></i>
							</div>
						</div>
						<div class="form-sub-w3ls">
							<input placeholder="Nhập lại mật khẩu"  name="mk2_kh" type="password" id="mk2_kh" required="">
							<div class="icon-agile">
								<i class="fa fa-unlock-alt" aria-hidden="true"></i>
							</div>
						</div>
					<div class="login-check">
						 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Tôi chấp nhận Điều khoản & Điều kiện</label>
					</div>
					<div class="submit-w3l">
						<input type="submit" name="Submit" value="Đăng ký">
					</div>
				</form>
			</div>
		</div>	
	</div>


	
<script type="text/javascript" src="javascripts/scripts/Login/jquery-2.1.4.min.js"></script>

	<!-- pop-up-box-js-file -->  
		<script src="javascripts/scripts/Login/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--//pop-up-box-js-file -->

	
</body>
</html>
