
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Coconut</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="javascripts/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- #######################################----HEADER----########################################### -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- #####################################---SDT-EMAIL-MY ACCOUNT----################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><em class="fa fa-phone"></em> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> 16520898@gm.uit.edu.vn</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><a href="#"><em class="fa fa-lg fa-user"></em></a></li>
		<li><a href="login.html">Đăng nhập</a></li>
        <li><a href="http://localhost:8000/?dangky=1">Đăng ký</a></li>
        <li><a href="#">Trợ giúp?</a></li>
      </ul>
    </div>
	<!--########################################################################################-->
  </div>
</div>
<!-- ######################################--------SITE MAP---############################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <div id="logo" class="fl_left">
      <h1><a href="index.html">Coconut Store</a></h1>
      <p>Sản phẩm nguyên chất từ dừa </p>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><div class="form-sub-w3ls">
            <input placeholder="Bạn cần tìm ?"  type="text" required="">
          </div></li>
        <li><div class="submit-w3l">
						<input type="submit" value="Tìm">
          </div></li>
        <li><a href="#"><em class="fa fa-lg fa-shopping-cart"></em></a></li>
        <li class="active"><a href="/index">Trang Chủ</a></li>
		    <li><a href="/sanpham">Sản phẩm</a></li>
        <li><a href="">Bài viết</a></li>
        <li><a href="#">Liên hệ</a></li> 
      </ul>
    </nav>
  </header>
</div>
<!-- ####################################-------BODY--(IMAGE)-------############################################## -->
<div class="wrapper bgded" style="background-image:url('images/Background.jpg');">
  <div id="pageintro" class="hoc clear"> 
    <article>
      <p class="heading">Khuyến mãi lớn</p>
      <h2 class="heading"><span class="block">Giảm giá 50% </span><br></span>Nước dừa tươi</h2>
      <footer><a href="/sanpham">Đến cửa hàng &raquo;</a></footer>
    </article>
  </div>
</div>
<!-- ##########################################<!----BODY(TEXT)-------##################################### -->
<div class="wrapper row3" >
  <div id="services" class="hoc clear"> 
    <div class="table">
      <div class="table-row"> 
        <!-- ###################################---main body 1-------#################################### -->
		  <!--###################Chèn hinh__________-->
        <div class="table-cell">
          <article><a href="#"><i class="fa fa-fire"></i></a>
            <h6 class="heading">Mỹ Phẩm</h6>
            <p>Dầu dừa là sản phẩm tự nhiên không hoá chất mà nhiều chị em lựa chọn để làm đẹp&hellip;</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </div>
        <div class="table-cell">
          <article><a href="#"><i class="fa fa-tint"></i></a>
            <h6 class="heading">Ẩm thực</h6>
            <p>Vùng đất của dừa. Chắc hẳn ai đi về miền đất của dừa cũng một lần nghe tới cái tên &hellip;</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </div>
        <div class="table-cell">
          <article><a href="#"><i class="fa fa-coffee"></i></a>
            <h6 class="heading">Giải khát</h6>
            <p>Thức uống giả khát tuyệt vời ! Nói đến giải khát cho ngày hè nắng nóng&hellip;</p>
            <footer><a href="#">Read More &raquo;</a></footer>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ################################################----main body 1---############################## -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!--##################################<!-- main body 2--##################################-->
    <div class="center btmspace-80">
      <h3 class="heading">Chúng tôi  "Coconut Store" !</h3>
      <p class="nospace">Dừa xanh UIT chuyên cung cấp sỉ và lẻ tất cả các sản phẩm từ dừa: Giải khát, mỹ nghệ, ăn vặt và làm đẹp. Các sản phảm của chúng tôi xuất xứ tại Bến Tre với tiêu chí luôn đảm bảo an toàn chất lượng, nguyên chất tự nhiên, nói không với hoá chất, thân thiện với môi trường, giá rẻ và chính sách giao hàng miễn phí nhanh nhất.</p>
    </div>
    <!--#################################<!-- / main body 2 --##################################-->
    <div class="clear"></div>
  </main>
</div>
<!--#####################################<!--BODY--###############################	-->
	
	
<!--####################################<!--FOOTER--######################################################-->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <h3 class="heading">Coconut Store</h3>
    <ul class="nospace inline pushright uppercase">
      <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
	   <li><a href="#">Về chúng tôi</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
    </ul>
    <div id="copyright">
      <p>Copyright &copy; 2019 - All Rights Reserved - <a href="#">Coconut Store</a></p>
      <p class="font-xs">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">NHY</a></p>
    </div>
  </footer>
</div>
<!--###########################################---FOOTER----#################################################-->	
<!--#######Tạo Button về đầu trang#####################-->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a><!-- button về đầu trang -->
<!-- JAVASCRIPTS -->
<script src="javascripts/scripts/jquery.min.js"></script>
<script src="javascripts/scripts/jquery.backtotop.js"></script>
<script src="javascripts/scripts/jquery.mobilemenu.js"></script>

</body>
</html>