<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Liên hệ</title>
</head>
<head>
<title>Coconut Store | Liên hệ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="javascripts/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<style type="text/css">
/* DEMO ONLY */
.container .demo{text-align:center;}
.container .demo div{padding:8px 0;}
.container .demo div:nth-child(odd){color:#000000; background:#ffffff;}
.container .demo div:nth-child(even){color:#000000; background:#FFFFFF;}
@media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
/* DEMO ONLY */
</style>
<script language="javascript" type="text/javascript">
  function Timkiemsp()
  {
    var dd="http://localhost:8000/?sanpham=1&tensp="+ document.getElementById("sp").value 
   window.open(dd);
  }
 </script>
</head>
<body id="top" >
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <div class="fl_left">
        <ul class="nospace">
          <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-envelope-o"></i> coconutstore@gmail.com</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nospace">
          <li><a href="http://localhost:8000/?index=1"><i class="fa fa-lg fa-home"></i></a></li>
        <li><%-hoten%></li>
        <li><%-thoat%></li>
          <li><a href="#">Trợ giúp?</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a href="http://localhost:8000/?index=1">Coconut Store</a></h1>
        <p>Sản phẩm nguyên chất từ dừa</p>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li>
            <input placeholder="Bạn cần tìm ?"  type="text" id="sp" required="">
        </li>
        <li>
				<input type="submit" value="Tìm" onclick="Timkiemsp();">
        </li>
          <li><a href="http://localhost:8000/?thanhtoan=1"><em class="fa fa-lg fa-shopping-cart"></em></a></li>
          <li><a href="http://localhost:8000/?index=1">Trang chủ</a></li>
          <li><a href="http://localhost:8000/?sanpham=1">Sản phẩm</a></li>
          <li><a href="http://localhost:8000/?baiviet=1">Cẩm nang</a></li>
          <li class="active"><a href="http://localhost:8000/?lienhe=1">Liên hệ</a></li>
        </ul>
      </nav>
    </header>
</div>
<div class="wrapper bgded bk_g1" style="background-image:url('images/backgrounds/Backgroundsp.jpg')">
  <div id="breadcrumb" class="hoc clear"> 
    <ul>
      <li><a href="http://localhost:8000/?index=1">Trang chủ</a></li>
		<li><a href="http://localhost:8000/?lienhe=1">Liên hệ</a></li>
    </ul>
  </div>
</div>
<div class="wrapper bgded bk_g2" style="background-image: url('images/backgrounds/background_lienhe2.jpg')">
  <div id="pageintro" class="hoc clear"> 
    <article>
      <h2 class="heading"  style="text-align: center; color:#B97D2D"></h2>
    </article>
  </div>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <div class="content"> 
      <h2>Liên hệ</h2>
      <div class="group btmspace-50 demo">
        <div class="one_half first">
		<img src="images/map.PNG"/> 
      <!-- map online -->
      <!--<div id="googleMap" style="width: 400px; height: 300px;">Google Map</div>-->
		</div>
        <div class="one_half" style="background-color:white">
		  <form  action="#" method="post" style="text-align: left">
          <div >
            <label for="name">Tên <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="30" required>
          </div>
          <div>
            <label for="email">Email <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="30" required>
          </div>
          <div>
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="30">
          </div>
          <div>
            <label for="comment">Bình luận của bạn</label>
            <textarea name="comment" id="comment" cols="31" rows="10"></textarea>
          </div>
          <div>
            <input style="background-color: #B97D2D; color: aliceblue" size="20" type="submit" name="Gửi" value="Gửi">
            &nbsp;
            <input style="color:#C8C8C8; background-color:#B97D2D" type="reset" name="Hủy" value="Hủy">
          </div>
          </form> 
	   </div>
      </div>
    </div>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <h3 class="heading">Coconut Store</h3>
    <ul class="nospace inline pushright uppercase">
      <li><a href="http://localhost:8000/?index=1"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="http://localhost:8000/?index=1">Về chúng tôi</a></li>
      <li><a href="http://localhost:8000/?lienhe=1">Liên hệ</a></li>
      <li><a href="http://localhost:8000/?dangnhap=1">Đăng nhập</a></li>
    </ul>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="https://www.facebook.com/sanphamtuduaantoan/"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
    </ul>
    <div id="copyright">
      <p>Copyright &copy; 2019 - All Rights Reserved - <a href="http://localhost:8000/?index=1">Coconut Store</a></p>
      <p class="font-xs">Template by <a target="_blank" href="#">NHY</a></p>
    </div>
  </footer>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="javascripts/scripts/jquery.min.js"></script>
<script src="javascripts/scripts/jquery.backtotop.js"></script>
<script src="javascripts/scripts/jquery.mobilemenu.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript"></script>
</body>
</html>
