<!DOCTYPE html>
<!--
Template Name: Corklow
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html>
<head>
<title>Coconut Store | Product</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="fl_left">
      <ul class="nospace">
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="fl_right">
      <ul class="nospace">
        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">Đăng nhập</a></li>
        <li><a href="#">Trợ giúp?</a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="../index.html">Coconut Store</a></h1>
      <p>Sản phẩm nguyên chất từ dừa</p>
    </div>
    <!-- ################################################################################################ -->
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><a href="index">Trang chủ</a></li>
		  <li class="active"><a href="Sanpham.html">Sản phẩm</a></li>
        <li><a href="#">Bài viết</a></li>
        <li><a href="#">Liên hệ</a></li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/demo/backgrounds/Backgroundsp.jpg')">
  <div id="breadcrumb" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="Sanpham.html">Sản phẩm</a></li>
    </ul>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
    <!-- main body -->
	<main class="hoc container clear"> 
	
	<!-- ################################################################################################# -->
	<!--Sidebar left-->
	<!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"> 
      <!-- ################################################################################################ -->
      <h2>Danh mục sản phẩm</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="#">Chăm sóc sắc đẹp</a></li>
          <li><a href="#">Ẩm thực</a>
            <ul>
              <li><a href="#">Món ăn</a></li>
              <li><a href="#">Nguyên liệu</a></li>
            </ul>
          </li>
          <li><a href="#">Giải khát</a></li>
        </ul>
      </nav>
	  <h2>Giá</h2>
      <nav class="sdb_holder">
        <ul>
          <li><a href="#">50.000 - 100.000</a></li>
          <li><a href="#">100.000 - 200.000</a></li>
          <li><a href="#">200.000 Trở lên</a></li>
        </ul>
      </nav>
      <div class="sdb_holder">
        <h6>Liên hệ</h6>
        <address>
        Full Name<br>
        Address Line 1<br>
        Address Line 2<br>
        Town/City<br>
        Postcode/Zip<br>
        <br>
        Tel: xxxx xxxx xxxxxx<br>
        Email: <a href="#">contact@domain.com</a>
        </address>
	  </div>
      <!-- ################################################################################################ -->
    </div>  
	<!--###################################################################################################-->
	
	<!--################################################################################################# -->
	<!--Insert Product-->  
	  
    <!-- ################################################################################################ -->
    <div class="content three_quarter"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Sản Phẩm</header>
          <ul class="nospace clear">
			
			<!--####################Row1###############################-->
            <li class="one_quarter first">
			  <div class="card">
				    <img src="../images/demo/Sản phẩm/Mong dua.jpg">
					<img src="../images/demo/Sản phẩm/Sao1.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/Sản phẩm/Keodua.jpg">
					<img src="../images/demo/Sản phẩm/Sao2.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a  class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/Sản phẩm/Son dua.jpg">
					<img src="../images/demo/Sản phẩm/Sao1.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/Sản phẩm/Mascara dau dua.jpg">
					<img src="../images/demo/Sản phẩm/Sao2.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a  class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
			  
			<!--###############Row2#################################-->
             <li class="one_quarter first">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/sao4.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/Capture.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/Capture.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/Capture.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
			  
			<!--###############Row3#################################-->
             <li class="one_quarter first">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/Capture.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
             <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/Capture.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/Capture.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
            <li class="one_quarter">
			  <div class="card">
				    <img src="../images/demo/gallery/Mong dua.jpg">
					<img src="../../Demo/Capture.PNG">
				    <p class="title">&nbsp;CEO & Founder</p>
				    <div class="Gia">&nbsp;Giá:100.00 VND&nbsp;&nbsp;&nbsp;
					<a id="Giohang" class="fa fa-lg fa-cart-plus"></a></div>
				</div>
			</li>
			  
          </ul>
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <h3 class="heading">Corklow</h3>
    <ul class="nospace inline pushright uppercase">
      <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Register</a></li>
    </ul>
    <ul class="faico clear">
      <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
    </ul>
    <div id="copyright">
      <p>Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
      <p class="font-xs">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>